button  {
  background: url('images/micro_carbon.png');
  color:
      text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
      font-size: 20px;
      font-color: white;
      display: block;

      text-decoration: none;
      background-color: rgb(83,87,93);
      box-shadow: 0px 3px 0px 0px rgb(34,34,34), /* 1st Shadow */
                  0px 7px 10px 0px rgb(17,17,17), /* 1nd Shadow */
                  inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */
                  inset 0px -12px 35px 0px rgba(0, 0, 0, .5); /* 4th Shadow */
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 35px;
      text-align: center;
      line-height: 40px;
}





#display {
  color: #004;

     font-family: Impact, 'Arial Black', Helvetica, Arial, sans-serif;
     text-transform: uppercase;
     background-color: #FFE;
     font-weight: bold;
     padding: 30px;
     display: inline-block;

     box-shadow: rgba(255,255,240,.2) 0 0 200px 100px, rgba(255,255,240,.3) 0 0 40px, inset rgba(0,0,0,.8) 0 0 20px;
     border-radius: 30px;

    top: 100%;
    left: 0;

    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);

    filter: url(filter.svg#blur); /* FF, Opera + IE10*/
    -webkit-filter: blur(2px); /* webkit */

    opacity: .25;

    box-shadow: inset rgba(0,0,0,.8) 0 0 20px, inset #000 0 50px 100px;

}

#calculator {

      background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/wov.png");
      width: 25%;
      height: 50%;


}
